{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Brewfile.tmpl hash: {{ include "./packages/Brewfile.tmpl" | sha256sum }}
# headless: {{ .headless }}

# Brewfile 생성 (템플릿 렌더링)
chezmoi execute-template < {{ joinPath .chezmoi.sourceDir "./packages/Brewfile.tmpl" }} > /tmp/Brewfile

cd /tmp && brew bundle -v
{{ end -}}
