{
  "icon_theme": "Catppuccin Macchiato",
  "auto_update_extensions": {
    "svelte": true
  },
  "features": {
    "edit_prediction_provider": "zed"
  },
  "vim_mode": true,
  "helix_mode": false,
  "ui_font_size": 14,
  "buffer_font_size": 13,
  "buffer_font_family": "Liga SFMono Nerd Font",
  "theme": {
    "mode": "system",
    "light": "One Light",
    "dark": "Catppuccin Macchiato"
  },
  "languages": {
    "Svelte": {
      "tab_size": 2
    },
    "TypeScript": {
      "tab_size": 2
    }
  },
  "file_types": {
    "HTML": ["eta"]
  }
}
