<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.atuin.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/atuin</string>
        <string>daemon</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/atuin.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/atuin_error.log</string>
</dict>
</plist>
